.titulo{
    font-size: 45px;
    color: rgb(88, 27, 255);
    text-shadow: 0 0 5px rgb(240, 218, 20), 0 0 10px rgb(240, 218, 20), 0 0 30px rgb(240, 218, 20), 0 0 5px rgb(240, 218, 20);
    font-family: 'Tangerine', cursive;
    
}
.n {
    font-size: 17px;
    font-family: 'Tangerine', cursive;
    position: absolute;
    font-weight: bolder;
    left: 30px;
    top: 18px;
    width: 35%;
    border-color: rgb(88, 27, 255);
}

.i1 {

    border: double rgb(88, 27, 255);
    display: inline-block;
    background-color: lavender;
    box-sizing: border-box;
    width: 100%;
}

.r {
    font-size: 17px;
    font-family: 'Tangerine', cursive;
    position: absolute;
    font-weight: bolder;
    left: 30px;
    top: 80px;
    width: 35%;
}

.i2 {
    border: double rgb(88, 27, 255);
    display: inline-block;
    background-color: lavender;
    box-sizing: border-box;
    width: 100%;
}

.s {
    font-size: 17px;
    font-family: 'Tangerine', cursive;
    font-weight: bolder;
    position: absolute;
    left: 30px;
    top: 140px;
    width: 35%;
}

.i3 {
    border: double rgb(88, 27, 255);
    display: inline-block;
    background-color: lavender;
    box-sizing: border-box;
    width: 80%;
}

.HS {
    font-size: 17px;
    font-family: 'Tangerine', cursive;
    font-weight: bolder;
    position: absolute;
    left: 30px;
    top: 210px;
    width: 35%;
}

.i4 {
    border: double rgb(88, 27, 255);;
    display: inline-block;
    background-color: lavender;
    box-sizing: border-box;
    width: 80%;
}

.SbS {
    font-size: 17px;
    font-family: 'Tangerine', cursive;
    font-weight: bolder;
    position: absolute;
    left: 30px;
    top: 300px;
    width: 35%;
}

.i5 {
    border: double rgb(88, 27, 255);;
    display: inline-block;
    background-color: lavender;
    box-sizing: border-box;
    width: 100%;
}

.i {
    font-size: 17px;
    font-family: 'Tangerine', cursive;
    font-weight: bolder;
    position: absolute;
    left: 30px;
    top: 375px;
    width: 35%;
}

.i6 {
    border: double rgb(88, 27, 255);;
    display: inline-block;
    background-color: lavender;
    box-sizing: border-box;
    width: 100%;
}

.btncr {
    font-family: 'Tangerine', cursive;
    font-size: larger;
    font-weight: bolder;
    color: rgb(88, 27, 255);
    border: 2.5px double rgb(88, 27, 255);
    border-radius: 30%;
    background-color: lavender;
    position: absolute;
    animation: shake 2s alternate-reverse ease-in-out infinite;
    width: 35%;
    bottom: 70px;
    top: 65%;
    right: 100px;
}

@keyframes shake {
    from {
        transform: scale(105%);
    }
    to {
        transform: scale(95%);
    }
}

.dtframe {
    font-size: 25px;
    font-family: 'Tangerine', cursive;
    font-weight: bolder;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 50%;
    width: 50%;
    border: double rgb(88, 27, 255);
    border-radius: 10%;
}

.dtframe2 {
    font-size: 15px;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    position: absolute;
    right: 30px;
    top: 60px;
}

.dtframe3 {
    font-size: 15px;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    position: absolute;
    left: 250px;
    top: 60px;
}

.dtframe4 {
    font-size: 15px;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 100px;
}

.dtframe5 {
    font-size: 15px;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    position: absolute;
    left: 250px;
    top: 100px;
}

.dtframe6 {
    font-size: 15px;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    position: absolute;
    right: 43px;
    top: 140px;
}

.dtframe7 {
    font-size: 15px;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    position: absolute;
    left: 250px;
    top: 140px;
}

.dtframe8 {
    font-size: 15px;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    position: absolute;
    right: 33px;
    top: 180px;
}

.dtframe9 {
    font-size: 15px;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    position: absolute;
    left: 250px;
    top: 200px;
}

.dtframe10 {
    font-size: 15px;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
    position: absolute;
    right: 40px;
    top: 230px;
}

.formframe {
    width: 500px;
    height: 70%;
    background-color: rgb(236, 247, 94);
    border: 8px double rgb(88, 27, 255);
    border-radius: 10%;
    font-family: 'Tangerine', cursive;
    font-size: medium;
    color: rgb(88, 27, 255);
    margin: 8px;
    padding: 10px;
    position: absolute;
    top: 100px;
    left: 31%;
}

.botn {
    font-family: 'Tangerine', cursive;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0 0 5px rgb(240, 218, 20), 0 0 10px rgb(240, 218, 20), 0 0 30px rgb(240, 218, 20), 0 0 5px rgb(240, 218, 20);
    color: rgb(88, 27, 255);
    border: 1.5px double rgb(88, 27, 255);
    border-radius: 10px;
    background-color: transparent;
    position: absolute;
    top: 80px;
    left: 60px;
    animation: shake 2s alternate-reverse ease-in-out infinite;
    width: 20%;
    height: 8%;
}

@keyframes shake {
    from {
        transform: scale(100%);
    }
    to {
        transform: scale(95%);
    }
}

.img1 {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 25%;
    opacity:0%;
    border-radius: 88%;
}

.img2 {
    position: absolute;
    bottom: 60px;
    right: 160px;
    width: 20%;
    opacity: 0%;
    
}


.img4 {

    position: absolute;
    top: 35px;
    left: 15px;
    width: 25%;
    opacity: 0%;
    border: outset 7.5px;
}

.err{
    position: absolute;
    top: 25px;
    left: 2px;
    color: red;
}
.err2{
    position: absolute;
    top: 25px;
    left: 1px;
    color: red;
}