
.input {
  width: 20%;
  display: center;
  padding: 6px;
  background-color:mistyrose;
  border: 2.5px solid rgb(113, 175, 142);
  color: #111;
  font-size: 15px;
  height: 12px;
  font-family: 'Helvetica';
  letter-spacing: 2.5px;
  text-transform: camelcase;
}


